//colors
$black: #000;
$white: #fff;
$black_opacity: rgba(0, 0, 0, 0.3);

//urls
$url_menu_media: url(../img/menu.jpg);

@media all and(max-width: 768px) {
	div {
		.o-news {
			width: 100%;
			margin-bottom: 60px;
		}
		.o-news-s {
			margin: 0;
			margin-bottom: 60px;
		}
		.o-news-last {
			clear: both;
			float: none;
			width: 100%;
		}
	}
	.menu {
		position: absolute;
		width: 180px;
		height: 280px;
		margin-left: -200px;
	    transition: all 0.5s;
		li {
			border-top: 1px solid $black;
			a {
				font-size: 14px;
				padding: 5px;
			}
		}
		ul {
			flex-direction: column;
			li ul > li {
				position: relative;
				left: 109px;
				bottom: 38px;
			}
		}
	}
	header label {
		display: block;
		width: 30px;
		height: 30px;
		padding: 10px;
		border-right: 1px solid $black;
	}
	#menu:checked ~ .menu {
		margin: 0;
	}
	.section-inner .indents {
		padding: 0;
	}
}
@media all and(max-width: 500px) {
	.nav_f {
		position: absolute;
		width: 140px;
		height: 140px;
		margin-left: -200px;
		transition: all 0.5s;
		padding-right: 30px;
		background: $url_menu_media;
		a {
			flex-direction: column;
		}
	}
	footer label {
		display: block;
		width: 30px;
		height: 30px;
		padding: 10px;
		border-right: 1px solid $white;
	}
	#nav_f:checked ~ .nav_f {
		margin: 0;
	}
}
header label:hover {
	cursor: pointer;
	background: $black_opacity;
}
footer label:hover {
	cursor: pointer;
	background: $black_opacity;
}