//color
$black: #000;

@media all and(max-width: 768px) {
	div {
		.o-news {
			width: 100%;
			margin-bottom: 60px;
		}
		.o-news-s {
			margin: 0;
			margin-bottom: 60px;
		}
		.o-news-last {
			clear: both;
			float: none;
			width: 100%;
		}
	}
	.menu {
		position: absolute;
		width: 180px;
		height: 280px;
		margin-left: -200px;
		transition: all 0.5s;
		li {
			border-top: 1px solid $black;
			a {
				font-size: 14px;
				padding: 5px;
			}
		}
		ul {
			flex-direction: column;
			li ul > li {
				position: relative;
				left: 109px;
				bottom: 38px;
			}
		}
	}
	header label {
		display: block;
		width: 30px;
		height: 30px;
		padding: 10px;
		border-right: 1px solid $black;
	}
	#menu:checked ~ .menu {
		margin: 0;
	}
	.section-inner .indents {
		padding: 0;
	}
}
@media all and(max-width: 650px) {
	.nav_footer {
		width: 100%;
		> ul li a {
			padding: 5px 25px;
		}
	}
}
@media all and(max-width: 560px) {
	.nav_footer {
		width: 100%;
		> ul li a {
			padding: 5px 15px;
		}
	}
}