///colors
$color_blue_gem: #218;
$white: #ffffff;
$color_tundora: rgba(69, 69, 69, 0.8);
$black: #000;
$color_portage: #8b9ff5;
$color_gravel: #4c4c4c;
$color_tundora: #454545;
$color_melrose: #c1bafc;

//fonts
$font_Segoe: Segoe UI;
$font_sans: sans-serif;
$font_Pacifico: Pacifico;
$font_cursive: cursive;

//urls
$url_menu: url(../img/menu.jpg);

//@extend-elements
%extend {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	background: $color_blue_gem;
	top: 0;
	left: -100%;
	opacity: .5;
	transition: all 0.5s;
}

button::before {
	@extend %extend;
}
button::after {
	@extend %extend;
	opacity: 1;
	transition-delay: .1s;
}
h1 {
	margin: 0;
	padding: 0;
}
h2 {
	margin: 0;
	padding: 0;
}
p {
	margin: 0;
	padding: 0;
	margin: 0 0 1em 0;
	font-size: 93%;
	line-height: 1.5em;
}
.clearfix {
	zoom: 1;
	&:before {
		content: "";
		display: table;
	}
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
body {
	font-family: $font_Segoe, $font_sans;
	padding: 0;
	margin: 0;
	background-color: $white;
}
img {
	max-width: 100%;
	height: auto;
	margin: 0 0 10px 0;
}
div {
	&.section-inner {
		max-width: 1100px;
		padding: 0 20px;
		margin: 0 auto;
	}
	&.header {
		padding: 40px 0;
	}
	&.content {
		padding: 30px 0;
		background-color: $white;
		background: $color_tundora;
		background-size: cover;
	}
	&.news {
		padding: 20px 0;
	}
	&.o-news {
		width: 30%;
		float: left;
		margin-right: 5%;
	}
	&.o-news-last {
		margin: 0;
	}
	&.main {
		width: 65%;
		float: left;
		margin-right: 5%;
	}
}
.logo {
	background-color: $black;
	display: flex;
	justify-content: center;
	padding: 10px;
}
#menu {
	display: none;
}
footer {
	max-width: 100%;
	background-color: $black;
	color: $white;
	padding: 15px 0;
	text-align: center;
	label {
		display: none;
	}
}
.h_menu {
	background: $url_menu;
}
nav {
	margin: auto;
	background: $url_menu;
	max-width: 100%;
	position: relative;
}
.menu {
	padding: 10px 20px 10px 0;
	ul {
		list-style: none;
		li {
			position: relative;
		}
	}
	> ul {
		display: flex;
		justify-content: center;
		li a {
			display: flex;
			padding: 5px 40px;
			font-size: 20px;
			color: $color_portage;
			text-decoration: none;
			transition: all 0.3s ease;
		}
	}
	li {
		ul {
			position: absolute;
			min-width: 155px;
			display: none;
		}
		> ul li {
			border: 1px solid $color_gravel;
			a {
				padding: 8px;
				text-transform: none;
				background: $color_tundora;
			}
			ul {
				position: absolute;
				right: -155px;
				top: 0;
			}
		}
		a:hover {
			background: $color_gravel;
			color: $white;
			box-shadow: 1px 5px 10px -6px $black;
			transition: all 0.2s ease;
		}
		&:hover > ul {
			display: block;
		}
	}
}
button {
	border: 2px solid $color_melrose;
	font-size: 18px;
	color: $white;
	text-decoration: none;
	font-family: $font_Pacifico, $font_cursive;
	margin-top: 10px;
	display: block;
	width: 140px;
	padding: 0 5px 25px;
	height: 25px;
	text-align: center;
	position: relative;
	transition: .5s;
	overflow: hidden;
	background: $color_melrose;
	&:hover {
		color: $color_tundora;
	}
	&:hover::before {
		left: 0;
	}
	&:hover::after {
		left: 0;
	}
}
header label {
	display: none;
}
.nav_footer > ul {
	list-style: none;
	display: flex;
	justify-content: center;
	li a {
		display: flex;
		padding: 5px 40px;
		font-size: 20px;
		color: $color_portage;
		text-decoration: none;
		transition: all 0.3s ease;
	}
}