@media all and (max-width: 768px){div .o-news{width:100%;margin-bottom:60px}div .o-news-s{margin:0;margin-bottom:60px}div .o-news-last{clear:both;float:none;width:100%}.menu{position:absolute;width:180px;height:280px;margin-left:-200px;transition:all 0.5s}.menu li{border-top:1px solid #000}.menu li a{font-size:14px;padding:5px}.menu ul{flex-direction:column}.menu ul li ul>li{position:relative;left:109px;bottom:38px}header label{display:block;width:30px;height:30px;padding:10px;border-right:1px solid #000}#menu:checked ~ .menu{margin:0}.section-inner .indents{padding:0}}@media all and (max-width: 650px){.nav_footer{width:100%}.nav_footer>ul li a{padding:5px 25px}}@media all and (max-width: 560px){.nav_footer{width:100%}.nav_footer>ul li a{padding:5px 15px}}
/*# sourceMappingURL=input-media.css.map */
