* {
	margin: 0;
	padding: 0;
	outline: none;
}
html { height: 100%; }
body {
	width: 100%;
	height: 100%;
	font-family: "Segoe UI", sans-serif;
	line-height: 135%;
	display: flex;
	flex-direction: column;
}
main {
	flex-grow: 1;
	width: 100%;
}

.nav-foot ul,
.sotial,
.logo,
.menu ul,
.nav-foot ul,
.loginbox {
	justify-content: center;
}

/*Logotype*/
.logo {
	background: #000;
	display: flex;
}
.ltype {
	padding: 5px;
	max-width: 100%;
	box-sizing: border-box;
}
.logo{
	padding: 10px 0 10px 0;
}
.sotial {
	margin-top: 30px;
}

/*Style for menu*/
nav {
	margin: auto;
	background: url(../img/menu.jpg);
	max-width: 100%;
}
.menu {
	padding: 10px 20px 10px 0;
}
.menu ul {
	list-style: none;
	display: flex;
}
.menu a {
	display: flex;
	padding: 5px 40px 5px 40px;
	font-size: 20px;
	color: #8b9ff5;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.3s ease;
}
.menu li {
	position: relative;
	border-right: 1px solid #4c4c4c;
}
.menu li:first-child {
	border-left: 1px solid #4c4c4c;
}
.menu li:last-child {
	border-right: 1px solid #4c4c4c;
}
.menu a:hover {
	background: #454547;
	color: #ffffff;
	box-shadow: 1px 5px 10px -6px black;
	transition: all 0.2s ease;
}

/*Footer*/
footer {
	background: #000;
}
.section-inner {
	margin-top: 30px;
}

.nav-foot ul {
  list-style: none;
  display: flex;
}
.nav-foot a {
  display: flex;
  padding: 5px 40px;
  font-size: 20px;
  color: #8b9ff5;
  text-decoration: none;
  transition: all 0.3s ease;
}
.sotial img{
	padding: 5px 10px;
}
.sotial,
.content,
.loginbox {
	display: flex;
}
.sotial {
	margin-top: 5px;
}
.content {
	background: url(../img/login.jpg);
	background-size: cover;
}

/*Login*/
main,
.loginbox,
.log-b {
 	float: left;
}
.loginbox {
 	width: 80%;
 	margin-left: 10%;
 	padding: 40px 20px 90px 20px;
	flex-wrap: wrap;
	text-align: center;

}
.log-b {
    width: 31.33%;
	box-sizing: border-box;
	background-color: rgb(13, 13, 13);
	margin-right: 20%;
	min-height: 450px;
	margin: 10px 0 50px 0;
}
.avatar {
	width: 100px;
	height: 100px;
	margin: -45px;
	border-radius: 50%;
	position: relative;
}
h2 {
	padding-top: 40px;
	padding-bottom: 20px;
	text-align: center;
	font-size: 26px;
	color: #fff;
}
.log-b label {
	font-weight: bold;
}
.log-b input {
	width: 80%;
	margin-bottom: 45px;
}
.nick,
.pass {
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
.sub {
 	background: #3e4982;
 	font-size: 18px;
 	border: none;
 	height: 40px;
 	border-radius: 20px;
 }
 .sub:hover,
 .sub:active {
	cursor: pointer;
}
.sub:hover {
	background: #fb2525;
	color: #4c4c4c;
}
.sub:active {
	background: #008F68;
 	color: #fff;
 }
.log-b a {
	color: #3e4982;
	text-decoration: none;
	line-height: 25px;
	font-size: 16px;
	display: block;
	transition: 0.5s;
}
.log-b a:hover {
	color: #f48b8b;
}
.log-b a:active {color: #8ce4a6;}