* {
	margin: 0;
	padding: 0;
	outline: none;
}
html { height: 100%; }
body {
	width: 100%;
	height: 100%;
	font-family: "Segoe UI", sans-serif;
	line-height: 135%;
	display: flex;
	flex-direction: column;
}
main {
	flex-grow: 1;
	width: 100%;
}

/*Logotype*/
.logo {
	background: #000;
	display: flex;
	justify-content: center;
}
.ltype {
	padding: 5px;
	max-width: 100%;
	box-sizing: border-box;
}
.logo{
	padding: 10px 0 10px 0;
}

.sotial {
	margin-top: 30px;
}

/*Style for menu*/
nav {
	margin: auto;
	background: url(../img/menu.jpg);
	max-width: 100%;
}
.menu {
	padding: 10px 20px 10px 0;
}
.menu ul {
	list-style: none;
	display: flex;
	justify-content: center;
}
.menu a {
	display: flex;
	padding: 5px 40px 5px 40px;
	font-size: 20px;
	color: #8b9ff5;
	text-decoration: none;
	text-transform:uppercase;
	transition: all 0.3s ease;
}
.menu ul li {
	position: relative;
	border-right: 1px solid #4c4c4c;
}
.menu li:first-child {
	border-left: 1px solid #4c4c4c;
}
.menu li:last-child {
	border-right: 1px solid #4c4c4c;
}
.menu li a:hover {
	background: #454547;
	color: #ffffff;
	box-shadow: 1px 5px 10px -6px black;
	transition: all 0.2s ease;
}

/*Footer*/
footer {
	background: #000;
}
.section-inner {
	margin-top: 30px;
}
.nav-foot ul {
  list-style: none;
  display: flex;
  justify-content: center;
}
.nav-foot a {
  display: flex;
  padding: 5px 40px;
  font-size: 20px;
  color: #8b9ff5;
  text-decoration: none;
  transition: all 0.3s ease;
}
.sotial img{
	padding: 5px 15px;
}
.sotial {
	display: flex;
	justify-content: center;
}
.content {
	display: flex;	
	background: url(../img/xbox_game.jpg);
	background-size: cover;
}

/*Registration*/
form {
	padding-top: 10px;
	padding-bottom: 20px;
}
main,
.loginbox,
.log-b {
 	float: left;
}
.loginbox {
 	width: 80%;
 	margin-left: 10%;
 	padding: 40px 40px 90px 40px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.log-b {
    width: 500px;
	box-sizing: border-box;
	background-color: rgba(26, 26, 26, 0.8);
	margin-right: 20%;
	min-height: 450px;
	margin: 10px 0 10px 0;
	padding: 10px 20px 10px 20px;
}
h2 {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	font-size: 26px;
	color: #fff;
}
::-webkit-input-placeholder {
	font-size: 18px;
	font-style: italic;
	font-weight: bold;
}

/* Registration*/
.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 100px;
  max-width: 220px; 
}
.flex-outer > li > label + *,
.flex-inner {
  flex: 1 0 220px;
}
.flex-inner li {
	width: 220px;
}
.flex-inner {
	justify-content: space-between;
}
.flex-outer,
.flex-inner {
  list-style-type: none;
  padding: 0;
}
.flex-outer {
  max-width: 800px;
  margin: 0 auto;
}
.flex-inner {
  padding: 0 3px;
}
.flex-inner li {
  width: 100px;
}
.flex-outer > li:not(:last-child) {
  margin-bottom: 10px;
}
.flex-outer label,
.flex-outer p {
  padding: 5px 6px 5px 6px;
  color: #fff;
  text-transform: uppercase;
}
.flex-outer p {
  margin: 0;
}
textarea {
  padding: 15px 10px 15px 10px;
  margin-left: 25px;
  margin-right: 20px;
  resize: none;
  overflow: auto;
  width: 200px;
  height: 100px;
  font-size: 18px;
}
.nick,
.pass,
.em,
.tel {
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
button {
  width: 100px;
  height: 30px;
  background: #c1bafc;
  color: #454545;
  position: relative;
  transition: .6s;
  overflow: hidden;
}
button::before,
button::after {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	background:  #9900cc;
	top: 0;
	left: -100%;
	opacity: .5;
	transition: all 0.5s;
}
button::after {
	opacity: 1;
	transition-delay: .1s;
}
button:hover::before,
button:hover::after {
	left: 0;
}