@media all and (max-width: 768px){
	.content {
	max-width: 100%;
	}

	main .loginbox .log {
	width: 100%;
	margin-right: 70px;
    }

	body {
	max-width: 100%;
	max-height: 100%;
    }

    .nav_footer a{
	width: 100%;
   }

   .nav_footer > ul li a {
    padding: 5px 25px;
  }

}

@media all and (max-width: 590px){
	body {
	max-width: 100%;
	max-height: 100%;
    }

	.content {
	max-width: 100%;
	}

	main .loginbox .log {
	width: 90%;
	margin-right: 4px;
    }

   textarea {
   	width: 30%;
   }

   .nav_footer a{
	width: 100%;
   }

   .nav_footer > ul li a {
    padding: 5px 15px;
  }
}


@media all and (max-width: 420px){
	body {
	max-width: 100%;
	max-height: 100%;
    }

	.content {
	max-width: 100%;
	}

	main .loginbox .log {
	width: 100%;
	margin-right: 50px;
   }

   .nav_footer a{
	width: 100%;
   }

   .nav_footer > ul li a {
    padding: 5px 10px;
  }
}
