@media all and (max-width: 768px) {
  div .o-news {
    width: 100%;
    margin-bottom: 60px; }
  div .o-news-s {
    margin: 0;
    margin-bottom: 60px; }
  div .o-news-last {
    clear: both;
    float: none;
    width: 100%; }

  .menu {
    position: absolute;
    width: 180px;
    height: 280px;
    margin-left: -200px;
    transition: all 0.5s; }
    .menu li {
      border-top: 1px solid #000; }
      .menu li a {
        font-size: 14px;
        padding: 5px; }
    .menu ul {
      flex-direction: column; }
      .menu ul li ul > li {
        position: relative;
        left: 109px;
        bottom: 38px; }

  header label {
    display: block;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right: 1px solid #000; }

  #menu:checked ~ .menu {
    margin: 0; }

  .section-inner .indents {
    padding: 0; } }
@media all and (max-width: 500px) {
  .nav_f {
    position: absolute;
    width: 140px;
    height: 140px;
    margin-left: -200px;
    transition: all 0.5s;
    padding-right: 30px;
    background: url(../img/menu.jpg); }
    .nav_f a {
      flex-direction: column; }

  footer label {
    display: block;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right: 1px solid #fff; }

  #nav_f:checked ~ .nav_f {
    margin: 0; } }
header label:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3); }

footer label:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3); }

/*# sourceMappingURL=input-media.css.map */
