button::before, button::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: #218;
  top: 0;
  left: -100%;
  opacity: .5;
  transition: all 0.5s; }

h1 {
  margin: 0;
  padding: 0; }

h2 {
  margin: 0;
  padding: 0; }

h3 {
  margin: 0;
  padding: 0; }

h4 {
  margin: 0;
  padding: 0; }

h5 {
  margin: 0;
  padding: 0; }

h6 {
  margin: 0;
  padding: 0; }

p {
  margin: 0;
  padding: 0;
  margin: 0 0 1em 0;
  font-size: 93%;
  line-height: 1.5em; }

.clear {
  clear: both; }

body {
  font-family: Segoe UI, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #ffffff; }

img {
  max-width: 100%;
  height: auto;
  margin: 0 0 10px 0; }

div.section-inner {
  max-width: 1100px;
  padding: 0 20px;
  margin: 0 auto; }
div.header {
  padding: 40px 0; }
div.content {
  padding: 30px 0;
  background-color: #ffffff;
  background: rgba(69, 69, 69, 0.8);
  background-size: cover; }
div.news {
  padding: 20px 0; }
div.o-news {
  width: 30%;
  float: left;
  margin-right: 5%; }
div.o-news-last {
  margin: 0; }
div.main {
  width: 65%;
  float: left;
  margin-right: 5%; }

.logo {
  background-color: #000;
  display: flex;
  justify-content: center;
  padding: 10px; }

#menu {
  display: none; }

#nav_f {
  display: none; }

footer {
  max-width: 100%;
  background-color: #000;
  color: #ffffff;
  padding: 15px 0;
  text-align: center; }
  footer label {
    display: none; }

.h_menu {
  background: url(../img/menu.jpg); }

nav {
  margin: auto;
  background: url(../img/menu.jpg);
  max-width: 100%;
  position: relative; }

.menu {
  padding: 10px 20px 10px 0; }
  .menu ul {
    list-style: none; }
    .menu ul li {
      position: relative; }
  .menu > ul {
    display: flex;
    justify-content: center; }
    .menu > ul li a {
      display: flex;
      padding: 5px 40px;
      font-size: 20px;
      color: #8b9ff5;
      text-decoration: none;
      transition: all 0.3s ease; }
  .menu li ul {
    position: absolute;
    min-width: 155px;
    display: none; }
  .menu li > ul li {
    border: 1px solid #4c4c4c; }
    .menu li > ul li a {
      padding: 8px;
      text-transform: none;
      background: #454545; }
    .menu li > ul li ul {
      position: absolute;
      right: -155px;
      top: 0; }
  .menu li a:hover {
    background: #4c4c4c;
    color: #ffffff;
    box-shadow: 1px 5px 10px -6px #000;
    transition: all 0.2s ease; }
  .menu li:hover > ul {
    display: block; }

button {
  border: 2px solid #c1bafc;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  font-family: Pacifico, cursive;
  margin-top: 10px;
  display: block;
  width: 140px;
  padding: 0 5px 25px;
  height: 25px;
  text-align: center;
  position: relative;
  transition: .5s;
  overflow: hidden;
  background: #c1bafc; }
  button:hover {
    color: #454545; }
  button:hover::before {
    left: 0; }
  button:hover::after {
    left: 0; }

button::after {
  opacity: 1;
  transition-delay: .1s; }

header label {
  display: none; }

.nav_f a {
  text-decoration: none;
  margin-left: 40px;
  font-size: 20px;
  color: #ffffff; }
  .nav_f a:hover {
    border-bottom: 1px solid #ffffff; }

/*# sourceMappingURL=input.css.map */
