* {
	margin: 0;
	padding: 0;
	outline: none;
}
html { height: 100%; }

body {
	width: 100%;
	height: 100%;
	font-family: "Segoe UI", sans-serif;
	line-height: 135%;
	display: flex;
	flex-direction: column;
}

main {
	flex-grow: 1;
	width: 100%;
}

/*Логотип*/
.logo, .logo_f {
	background: #000;
	display: flex;
	justify-content: center;
}

.ltype {
	padding: 5px;
	max-width: 100%;
	box-sizing: border-box;
}

.logo_f {
	padding-top: 30px;
}

.logo, .nav_f {
	padding: 10px 0 10px 0;
}

.nav_f, .sotial {
	margin-top: 30px;
}


/*Стили для меню*/
nav {
	margin: auto;
	background: url(../img/menu.jpg);
	max-width: 100%;
}

.menu {
	padding: 10px 20px 10px 0;
}

.menu ul {
	list-style: none;
}

.menu > ul {
	display: flex;
	justify-content: center;
}

.menu > ul li a {
	display: flex;
	padding: 5px 40px 5px 40px;
	font-size: 20px;
	color: #8b9ff5;
	text-decoration: none;
	text-transform:uppercase;
	transition: all 0.3s ease;
}

.menu ul li {
	position: relative;
	border-right: 1px solid #4c4c4c;
}

.menu > ul li:first-child {
	border-left: 1px solid #4c4c4c;
}
.menu > ul li:last-child {
	border-right: 1px solid #4c4c4c;
}


.menu li a:hover {
	background: #454547;
	color: #ffffff;
	box-shadow: 1px 5px 10px -6px black;
	transition: all 0.2s ease;
}



/*Footer*/

#nav_f,
footer label {
	display: none;
}

footer {
	width: 100%;
	background: black;
	margin: 0 auto;
	padding-top: 25px;
	text-align: center;

}

footer p {
	margin-top: 20px;
	font-size: 20px;
	color: #fff;
	margin-bottom: 80px;
	
}

.nav_f  a {
	text-decoration: none;
	margin-left: 40px;
	font-size: 20px;
	color: #fff;

}

.nav_f  a:hover {
	border-bottom: 1px solid #fff;
}


.sotial img{
	margin-left: 10px;
	margin-bottom: 10px;
}

.content {
	display: flex;	
	background: url(../img/login.jpg);
	background-size: cover;
}


/*Login*/

main, .loginbox, .log {
 	float: left;
}

main .loginbox {
 	width: 80%;
 	margin-left: 10%;

 	padding: 40px 20px 90px 20px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;

}

main .loginbox .log {
    width: 31.33%;
	box-sizing: border-box;
	background-color: rgb(13, 13, 13);
	margin-right: 20%;
	min-height: 450px;
	margin: 10px 0 50px 0;}

.avatar {
	width: 100px;
	height: 100px;
	margin: -45px;
	border-radius: 50%;
	position: relative;
}

h1 {
	padding-top: 40px;
	padding-bottom: 20px;
	text-align: center;
	font-size: 26px;
	color: #fff;
}

.log label {
	font-weight: bold;
}

.log input {
	width: 80%;
	margin-bottom: 50px;
}

.log input[type="text"], input[type="password"] {
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}

.sub {
 	background: #3e4982;
 	font-size: 18px;
 	border: none;
 	outline: none;
 	height: 40px;
 	border-radius: 20px;
 }
 
.log input[type="submit"]:hover
 {
	cursor: pointer;
	background: #fb2525;
	color: #4c4c4c;
}

.log input[type="submit"]:active
 {
	cursor: pointer;
	background: #008F68;
 	color: #fff;
 }

.log a {
	color: #3e4982;
	text-decoration: none;
	line-height: 25px;
	font-size: 16px;
	-moz-text-decoration: none;
	-webkit-text-decoration: none;
	-ms-text-decoration: none;
}

.log a:hover {
	color: #f48b8b;
	text-decoration: none;
	transition: all.5s.ease;
	-moz-transition: all.5s.ease;
	-webkit-transition: all.5s.ease;
	-ms-transition: all.5s.ease;
}

.log a:active {color: #8ce4a6;}