footer label: hover {
	cursor: pointer;
	background: rgba(0, 0, 0, 0.3);
}

@media all and (max-width: 768px){
	.content {
	max-width: 100%;
	}

	main .loginbox .log {
	width: 60%;
	margin-right: 70px;
    }

}

@media all and (max-width: 590px){
	.content {
	max-width: 100%;
	}

	main .loginbox .log {
	width: 80%;
	margin-right: 4px;
    }

   .nav_f a{
	width: 30%;
   }

   textarea {
   	width: 30%;
   }

   footer label {
		display: block;
		width: 30px;
		height: 30px;
		padding: 10px;
		border-right: 1px solid #fff;
	}

	.nav_f {
		position: absolute;
		width: 140px;
		height: 140px;
		margin-left: -200px;
		transition: all 0.5s;
		padding-right: 30px;
		background: url(../img/menu.jpg);

	}

	.nav_f a {
		flex-direction: column;
	}

	#nav_f:checked ~ .nav_f {
		margin: 0;
	}
}


@media all and (max-width: 420px){
	body {
	max-width: 100%;
	max-height: 100%;
    }

	.content {
	max-width: 100%;
	}

	main .loginbox .log {
	width: 100%;
	margin-right: 50px;
	}

   .nav_f a{
	width: 20%;
   }

}
