* {
	margin: 0;
	padding: 0;
	outline: none;
}

html { height: 100%; }

body {
	width: 100%;
	height: 100%;
	font-family: "Segoe UI", sans-serif;
	line-height: 135%;
	display: flex;
	flex-direction: column;
}

main {
	flex-grow: 1;
	width: 100%;
}

/*Логотип*/
.logo, .logo_f {
	background: #000;
	display: flex;
	justify-content: center;
}

.ltype {
	padding: 5px;
	max-width: 100%;
	box-sizing: border-box;
}

.logo_f {
	padding-top: 30px;
}

.logo, .nav_f {
	padding: 10px 0 10px 0;
}

.nav_f, .sotial {
	margin-top: 30px;
}


/*Стили для меню*/
nav {
	margin: auto;
	background: url(../img/menu.jpg);
	max-width: 100%;
}

.menu {
	padding: 10px 20px 10px 0;
	float: center;
}

.menu ul {
	list-style: none;
}

.menu > ul {
	display: flex;
	justify-content: center;
}

.menu > ul li a {
	display: flex;
	padding: 5px 40px 5px 40px;
	font-size: 20px;
	color: #8b9ff5;
	text-decoration: none;
	text-transform:uppercase;
	transition: all 0.3s ease;
}


.menu ul li {
	position: relative;
	border-right: 1px solid #4c4c4c;
}

.menu > ul li:first-child {
	border-left: 1px solid #4c4c4c;
}
.menu > ul li:last-child {
	border-right: 1px solid #4c4c4c;
}


.menu li a:hover {
	background: #454547;
	color: #ffffff;
	box-shadow: 1px 5px 10px -6px black;
	transition: all 0.2s ease;
}


/*Footer*/
#nav_f,
footer label {
	display: none;
}

footer {
	width: 100%;
	background: black;
	margin: 0 auto;
	padding-top: 25px;
	text-align: center;
}

footer p {
	margin-top: 20px;
	font-size: 20px;
	color: #fff;
	margin-bottom: 80px;
	
}

.nav_f  a {
	text-decoration: none;
	margin-left: 40px;
	font-size: 20px;
	color: #fff;

}

.nav_f  a:hover {
	border-bottom: 1px solid #fff;
}

.sotial img{
	margin-left: 10px;
	margin-bottom: 10px;
}

.content {
	display: flex;	
	background: url(../img/xbox_game.jpg);
	background-size: cover;
}



/*Registration*/
form {
	padding-top: 10px;
	padding-bottom: 20px;
}

main, .loginbox, .log {
 	float: left;
}

main .loginbox {
 	width: 80%;
 	margin-left: 10%;
 	padding: 40px 40px 90px 40px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

main .loginbox .log {
    width: 500px;
	box-sizing: border-box;
	background-color: rgba(26, 26, 26, 0.8);
	margin-right: 20%;
	min-height: 450px;
	margin: 10px 0 10px 0;
	padding: 10px 20px 10px 20px;
}

h1 {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	font-size: 26px;
	color: #fff;
}

::-webkit-input-placeholder {
	font-size: 18px;
	font-style: italic;
	font-weight: bold;
}

::-moz-input-placeholder {
	font-size: 18px;
	font-style: italic;
	font-weight: bold;
}

:-ms-input-placeholder {
	font-size: 18px;
	font-style: italic;
	font-weight: bold;
}



/* Registration*/
.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 100px;
  max-width: 220px; 
}

.flex-outer > li > label + *,
.flex-inner {
  flex: 1 0 220px;
}
.flex-inner li {
	width: 220px;
}

.flex-inner {
	justify-content: space-between;
}

.flex-outer,
.flex-inner {
  list-style-type: none;
  padding: 0;
}

.flex-outer {
  max-width: 800px;
  margin: 0 auto;
}


.flex-inner {
  padding: 0 3px;
}
.flex-inner li {
  width: 100px;
}

.flex-outer > li:not(:last-child) {
  margin-bottom: 10px;
}

.flex-outer li label,
.flex-outer li p {
  padding: 5px 6px 5px 6px;
  color: #fff;
  text-transform: uppercase;
}

.flex-outer li p {
  margin: 0;
}

textarea {
  padding: 15px 10px 15px 10px;
  margin-left: 25px;
  margin-right: 20px;
  resize: none;
  overflow: auto;
  width: 200px;
  height: 100px;
  font-size: 18px;
}

form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type="tel"]  {
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}


button {
  width: 100px;
  height: 30px;
  background: #c1bafc;
  color: #454545;
  position: relative;
  transition: .6s;
  overflow: hidden;
}

button::before,
button::after {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	background:  #2189;
	top: 0;
	left: -100%;
	opacity: .5;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

button::after {
	opacity: 1;
	transition-delay: .1s;
}

button:hover::before,
button:hover::after {
	left: 0;
}